[user]
name = Squeaky
email = squeaky_pl@gmx.com

[color]
ui = true
interactive = auto
diff = auto

[push]
default = current

[pull]
rebase = false

[core]
attributesfile = ~/.gitattributes
pager = delta
editor = hx
autocrlf = false

[interactive]
# diffFilter = delta --color-only

# [delta]
# features = unobtrusive-line-numbers
# whitespace-error-style = 22 reverse

#[delta "decorations"]
#commit-decoration-style = bold yellow box ul
#file-style = bold yellow ul
#file-decoration-style = none
[safe]
directory = *

[merge]
conflictStyle = zdiff3
